.board{
  height:100vh;
  background-image:linear-gradient( rgba(0, 74, 117, 0.5) , rgba(0, 74, 117, 0.5) ), url(./image/dashboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
  color: white!important;
  display:flex;
  align-items: center;
  justify-content: center;
}
.board-subheading {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.board-heading {
  font-size: 35px;
  line-height: 3.25rem;
  margin-bottom: 1rem;
}
.board-text{
  margin-bottom: 2rem;
}

#btn{
  background-color: transparent!important;
  background-repeat:no-repeat;
  cursor: pointer; 
  border-color: white;
}
.board #btn:hover{
  background-color: white!important;
  color:#004a75;
}
.information{
  text-align: center;
  height: 35vh;
  display:flex;
  align-items: center;
  justify-content: center;

}
.container-fluid{
  color: #1a1818;
  background-color: #e5e5e5;
  padding-bottom: 30px;
}
.footer{
  background-color: #004a75;
  bottom:0;
  position: relative;
  text-align: center;
  color: #e5e5e5;
  padding:20px 0 20px 0 ;
}
.card{
  font-size: 12px;
  background-color: transparent!important;
  background-repeat:no-repeat;
  min-height: 150px;
}
.notif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-color: #e5e5e5;
  margin-top: 0;
  padding: 2rem 0;
  text-align: left;
  display: flex;
  justify-content: center;
}

.notif-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
}
.notif-text {
  max-width: 600px;
}
.notif-button{
  max-height: 100px;
  margin-bottom: 5px;
}
#logo{
  color:  #534e4e;
  float: right;
}
.logo{
  float:right;
}
.newsletter {
  background-color: #007bff;
  color: white;
  max-width:  480px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  left: 0;
}
.newsletter-content{
  margin-top:15px;
}
.newsletter-contact{
  
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
  
}
.newsletter-heading{
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 15px;
}
.newsletter-text{
  margin-bottom: 15px;
}
.newsletter-input{
  max-width:600px;
  margin-bottom: 5px;
}
